<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="60 seconds">

	<property name="logging_home" value="cfcaLogs" />
	<property name="logging_backup_home" value="${logging_home:-./logs}/backup" />

	<appender name="FILEROLLING" class="cfca.ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logging_home:-./cfcaLogs}/sip_decryption_rolling.log</file>
		<rollingPolicy class="cfca.ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>
				${logging_backup_home:-./cfcaLogs/backup}/sip_decryption.%i.log.zip
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>30</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="cfca.ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>20MB</maxFileSize>
		</triggeringPolicy>
		<layout class="cfca.ch.qos.logback.classic.PatternLayout">
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} -%msg%n
			</pattern>
		</layout>
	</appender>
	
	<logger name="cfca.sadk.control.sip">
		<level value="info" />
		<appender-ref ref="FILEROLLING" />
	</logger>

</configuration>